@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid re;
}

/* font family */

.ff_poppins {
  font-family: "Poppins", sans-serif;
}

/* font weight */

.fw_700 {
  font-weight: 700;
}

.fw_600 {
  font-weight: 600;
}

.fw_500 {
  font-weight: 500;
}

.fw_400 {
  font-weight: 400;
}

/* font size */
.fs_48 {
  font-size: 48px;
}

.fs_36 {
  font-size: 36px;
}

.fs_30 {
  font-size: 30px;
}

.fs_26 {
  font-size: 26px;
}

.fs_32 {
  font-size: 32px;
}

.fs_11 {
  font-size: 11px;
}

.fs_38 {
  font-size: 38px;
}

.fs_24 {
  font-size: 24px;
}

.fs_20 {
  font-size: 20px;
}

.fs_22 {
  font-size: 22px;
}

.fs_15 {
  font-size: 15px;
}

.fs_16 {
  font-size: 16px;
}

.fs_18 {
  font-size: 18px;
}

.fs_14 {
  font-size: 14px;
}

.fs_12 {
  font-size: 12px;
}

/* margin */
/* top */
.mt_16 {
  margin-top: 16px;
}

/* bottom */
.mb_35 {
  margin-bottom: 35px;
}

.mb_28 {
  margin-bottom: 28px;
}

.mb_8 {
  margin-bottom: 8px;
}

/* left */

/* right */
.mr_38 {
  margin-right: 38px;
}

.mr_20 {
  margin-right: 20px;
}

/* padding */
/* top */
.pt_11 {
  padding-top: 11px;
}

.pt_35 {
  padding-top: 35px;
}

.pt_36 {
  padding-top: 36px;
}

/* bottom */
.pb_11 {
  padding-bottom: 11px;
}

.pb_48 {
  padding-bottom: 48px;
}

.pb_32 {
  padding-bottom: 32px;
}

/* colour */

.color_white {
  color: #ffffff;
}

.color_black {
  color: #000000;
}

.bg_color_2 {
  background-color: #f6e300;
}

.bg_color_3 {
  background-color: #fff03f;
}

.bg_color_4 {
  background-color: #f4241e;
}

.box_shadow_down {
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.1);
}

img[alt="we_are_open"] {
  top: 72%;
  left: 29%;
}

/* paragraph */
.p_1 {
  max-width: 591px;
  line-height: 180%;
}

/* button */

.btn_1 {
  background: #ffffff;
  border-radius: 10px;
  color: #f4241e;
  padding: 12px 32px;
}

.btn_1:hover {
  background: #f4241e;
  color: white;
}

.btn_2 {
  background: #f4241e;
  border-radius: 10px;
  padding: 12px 17px;
}

.btn_2:hover {
  background-color: white;
  color: #f4241e;
}

.home_btn {
  color: #f4241e;
}

/* background image */

.w_40 {
  width: 40%;
}

img[alt="burger_image_1"] {
  top: 4%;
  left: 4%;
}

img[alt="burger_image_2"] {
  top: 72%;
  left: 3%;
}

img[alt="burger_image_3"] {
  top: 11%;
  left: 20%;
}

img[alt="burger_image_4"] {
  top: 63%;
  left: 19%;
}

img[alt="burger_image_5"] {
  top: 8%;
  right: 20%;
}

img[alt="burger_image_6"] {
  top: 74%;
  right: 23%;
}

img[alt="burger_image_7"] {
  top: 3%;
  right: 2%;
}

img[alt="burger_image_8"] {
  top: 63%;
  right: 3%;
}

/* grid */

/* any */
.timeline_bgr1 {
  top: 5%;
  left: 11%;
}

.timeline_bgr2 {
  top: 44%;
  left: 5%;
}

.timeline_bgr3 {
  top: 52%;
  left: 25%;
}

.timeline_bgr4 {
  top: 76%;
  left: 4%;
}

.timeline_bgr5 {
  top: 26%;
  right: 24%;
}

.timeline_bgr6 {
  top: 7%;
  right: 5%;
}

.timeline_bgr7 {
  top: 75%;
  right: 3%;
}

.timeline_bgr8 {
  top: 75%;
  right: 27%;
}

.timeline {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
}

.container_timeline {
  padding: 10px 34px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.left {
  left: 8px;
}

.right {
  left: 8px;
}

.content {
  padding: 27px 22px;
  background-color: white;
  position: relative;
  border-radius: 10px;
}

.content ol li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.timeline1 {
  position: absolute;
  width: 8px;
  height: 0%;
  background-color: red;
  top: 52px;
  bottom: 0;
  left: 100%;
  z-index: 1;
  transform: translateX(-50%);
}

.timeline1one {
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: white;
  top: 52px;
  bottom: 0;
  left: 100%;
  transform: translateX(-50%);
}

.timeline_one {
  position: absolute;
  width: 8px;
  height: 0%;
  background-color: red;
  top: 52%;
  bottom: 0;
  left: 100%;
  transform: translate(-50%);
}

.timeline_full {
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: white;
  top: 52px;
  bottom: 0;
  left: 100%;
  transform: translate(-50%);
}

.left::after {
  content: "";
  position: absolute;
  width: 39px;
  height: 40px;
  background-color: white;
  top: 17px;
  border-radius: 50%;
  left: -12px;
  z-index: 2;
}

.right::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 40px;
  left: -12px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 2;
}

.accordion_background_color {
  background-color: #fff03f !important;
}

.box_shadow_unset {
  box-shadow: unset !important;
}

.border_unset {
  border: unset !important;
}

.gap_15 {
  gap: 15px;
}

.grid_1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.grid_2 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.grid_3 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.grid_4 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.grid_5 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.grid_6 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.grid_7 {
  grid-row: 4/5;
  grid-column: 1/2;
}

.grid_8 {
  grid-row: 4/5;
  grid-column: 2/3;
}

.grid_9 {
  grid-row: 5/6;
  grid-column: 1/2;
}

.grid_10 {
  grid-row: 5/6;
  grid-column: 2/3;
}

.grid_11 {
  grid-row: 6/7;
  grid-column: 1/2;
}

.grid_12 {
  grid-row: 6/7;
  grid-column: 2/3;
}

.order_1 {
  order: 1;
}

.w_45px {
  width: 45px;
}

.w_200px {
  width: 200px;
}

.btn_after::after {
  content: "";
  width: 0;
  height: 4px;
  background: #f4241e;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: all 0.5s linear;
}

.btn_after:hover::after {
  width: 100%;
}

.btn_hover:hover {
  color: #f4241e;
}

@media (max-width: 576px) {
  .w_100 {
    width: 100%;
  }

  img[alt="batman_logo"] {
    width: 15%;
  }

  img[alt="twitter_logo"] {
    width: 15%;
  }
}

@media (min-width: 576px) {
  .fs_sm_28 {
    font-size: 28px;
  }

  .fs_sm_38 {
    font-size: 38px;
  }

  .fs_sm_14 {
    font-size: 14px;
  }

  .mt_sm_20 {
    margin-top: 20px;
  }

  .fs_sm_36 {
    font-size: 36px;
  }

  .w_200_unset {
    width: unset;
  }

  .fs_sm_16 {
    font-size: 16px;
  }

  .btn_2 {
    padding: 13px 24px;
  }

  .w_sm_65px {
    width: 65px;
  }
}

@media (min-width: 768px) {
  .fs_md_30 {
    font-size: 30px;
  }

  .fs_md_40 {
    font-size: 40px;
  }

  .gap_md_23 {
    gap: 23px;
  }

  .grid_md_1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid_md_2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .grid_md_3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .grid_md_4 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .grid_md_5 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .grid_md_6 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .grid_md_7 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .grid_md_8 {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .grid_md_9 {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  .grid_md_10 {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .grid_md_11 {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .grid_md_12 {
    grid-row: 4/5;
    grid-column: 3/4;
  }

  .fs_md_43 {
    font-size: 43px;
  }

  .fs_md_16 {
    font-size: 16px;
  }

  .mt_md_24 {
    margin-top: 24px;
  }

  .w_100_footer_unset {
    width: 40% !important;
  }

  .fs_md_41 {
    font-size: 41px;
  }

  .container_timeline {
    width: 50%;
  }

  .right {
    left: 50%;
  }

  .right::before {
    left: -20px;
  }

  .left {
    left: 0;
  }

  .left::after {
    left: unset;
    right: -19px;
  }

  .fs_md_24 {
    font-size: 24px;
  }

  .content ol li {
    font-size: 22px;
  }

  .w_80px {
    width: 90px;
  }

  .timeline_bgr4 {
    top: 76%;
    left: -1%;
  }

  .fs_md_33 {
    font-size: 33px;
  }

  .w_md_18 {
    width: 15%;
  }

  .w_md_60 {
    width: 80%;
  }

  .Img_center_md {
    margin-left: auto;
    margin-right: auto;
  }

  .fs_md_18 {
    font-size: 18px;
  }

  .btn_2 {
    padding: 14px 28px;
  }
}

@media (min-width: 992px) {
  .fs_lg_16 {
    font-size: 16px;
  }

  .mr_lg_35 {
    margin-right: 35px;
  }

  .mr_lg_16 {
    margin-right: 16px;
  }

  .mr_lg_18 {
    margin-right: 18px;
  }

  .fs_lg_33 {
    font-size: 33px;
  }

  .fs_lg_16 {
    font-size: 16px;
  }

  .fs_lg_44 {
    font-size: 44px;
  }

  .gap_lg_27 {
    gap: 27px;
  }

  .grid_lg_1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid_lg_2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .grid_lg_3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .grid_lg_4 {
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .grid_lg_5 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .grid_lg_6 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .grid_lg_7 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .grid_lg_8 {
    grid-row: 2/3;
    grid-column: 4/5;
  }

  .grid_lg_9 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .grid_lg_10 {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .grid_lg_11 {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  .grid_lg_12 {
    grid-row: 3/4;
    grid-column: 4/5;
  }

  .fs_lg_48 {
    font-size: 48px;
  }

  .fs_lg_18 {
    font-size: 18px;
  }

  .fs_lg_46 {
    font-size: 46px;
  }

  .timeline_bgr2 {
    top: 46%;
    left: 5%;
  }

  .fs_lg_36 {
    font-size: 36px;
  }

  .w_lg_60 {
    width: 60%;
  }

  .w_lg_8 {
    width: 8%;
  }

  .fs_lg_20 {
    font-size: 20px;
  }

  .btn_2 {
    padding: 15px 32px;
  }
}

@media (max-width: 992px) {
  label[for="icon"] {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  }

  label[for="icon"] > span {
    width: 100%;
    height: 6px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #f4241e;
  }

  .lg_screen {
    width: 100%;
    height: 100%;
    background-color: #f6e300;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    opacity: none;
    transition: all 300ms linear;
  }

  input[type="checkbox"]:checked + ul.lg_screen {
    pointer-events: all;
    opacity: 1;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .fs_xl_17 {
    font-size: 17px;
  }

  .mr_xl_38 {
    margin-right: 38px;
  }

  .mr_xl_20 {
    margin-right: 20px;
  }

  .fs_xl_36 {
    font-size: 36px;
  }

  .fs_xl_18 {
    font-size: 18px;
  }

  .fs_xl_48 {
    font-size: 48px;
  }
}

@media (min-width: 1400px) {
  img[alt="burger_image_2"] {
    top: 64%;
  }

  img[alt="burger_image_6"] {
    top: 64%;
  }
}
